@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    font-weight: 400;
    border: 1px solid red;
    height: 100vh;
    background-color: rgb(44, 44, 44);
}

header{
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: center;
    justify-content: space-around;
   
    border: 1px solid yellow;
    padding: 20px 0px;
    
}

h1{
    font-size: 23px;
}

input{
    display: flex;
    background-color: #303134;
    border-radius: 31.5px;
    border: none;
    padding: 9px 28px;
    width: 420px;
    
}

.icons{
    display: flex;
    gap: 25px;
    font-size: 14px;
    color: #9AA0A6;
    
}

.icons2{
    margin-right: -165px;
    display: flex;
    gap: 12px;
   
}

img{
    border-radius: 217.5px;
    width: 30px;
    margin-top: 6px;
}

.informacoes{
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: start;
    margin-top: 65px;
    margin-left: 89px;
    padding: 15px;
    border-bottom: 1px solid #C7C7C8;
}

.photos{
    display: flex;
    gap: 10px;
    align-items: center;
}

.users{
    display:flex;
    gap: 10px;
    align-items: center;
    color: #898E94;
}

.collections{
    display: flex;
    gap: 10px;
    align-items: center;
    color:  #898E94;
}

a{
    padding: 3px 12px;
    border: 1px solid #ffff;
    border-radius: 9px;
    color: #fff;
    text-decoration: none;
}

.football{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}



